
footer {
    background-color: rgb(59, 59, 59);
    height: fit-content;
    padding-bottom: 20px;
    padding-top: 0px;
    width: 100%;
}

footer div {
    margin-bottom: 10px;
}

footer .main-info{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

footer .main-info img {
    width: 100%;
}

footer .main-info p {  
    line-height: 10px;
}

footer .main-info .program h1 {
    color: red;
    font-size: large;
    text-align: center;
}

footer .last-info {
    text-align: center;
    color: white;
    margin-bottom: 0;
}

footer .media-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .media-buttons button {
    border-radius: 20px;
    padding: 0;
    border: none;
    height: 40px;
    overflow: hidden;
    margin-left: 5px;
    margin-right: 5px;
    transition: 100ms;
}



footer .media-buttons button:hover {
    box-shadow: 5px 5px 3px black;
    transform: scale(1.1);
    cursor: pointer;
}

footer .media-buttons button:active {
    scale: 0.9;
}

footer .media-buttons img {
    height: 40px;
}

/* xl */
@media (min-width: 1024px) {
    footer .logo{
        width: 12%;
    }
}