.background {
    filter: blur(5px);
}

.background-div{
    position: relative;
    overflow: hidden;
}

.end-background-div{
    position: relative;
    overflow: hidden;
    height: 200px;
}

.end-background{
    filter: blur(5px);
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

.alt-logo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -20%);
    width: 30%;
    filter: blur(5px);
}

.show{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    transition: 700ms;
    animation-delay: 500ms;
}

.end-background-div a{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    color: white;
    font-size: 1rem;
}

.essen-vorschau-hidden {
    color: white;
    transform: translate(-100%,0);
}

.essen-vorschau {
    color: white;
    transition: 500ms;
}

.essen-vorschau h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    color: red;
    line-height: 0rem;
    margin-top: 3rem;
}

.essen-vorschau p {
    max-width: 45ch;
    margin-left: auto;
    margin-right: auto;
}

.essen-vorschau img {
    width: 50%;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 10px 10px 10px black;
    display: block;
}

.essen-vorschau a{
    background-color: red;
    box-shadow: -1px 1px 8px red, 1px -1px 8px red;
    border-radius: 15px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    font-size: 0.8rem;
    transition: 200ms;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
    display: block;
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
    width: 45ch;
}


.quote{
    font-style: italic;
    margin-left: auto;
    margin-right: auto;
}

/* lg */
@media (min-width: 768px) {
    p{
        font-size: 1.2rem;
    }
}

/* xl */
@media (min-width: 1024px) {
    .background{
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
    }

    p{
        font-size: 1.5rem;
    }
    
    .background-div{
        height: 850px;
    }

    .alt-logo{
        width: 20%;
    }

    .show{
        width: 20%;
    }

    .essen-vorschau img{
        width: 20%;
    }

    .end-background-div a{
        font-size: 2rem;
    }

    .end-background-div{
        height: 500px;
    }
}
 